<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" (blur)="hideNavbar()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/top-scores']">Leaderboard</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/top-scores']">Top Scores</a>
        </li>
        <li *ngIf="!authService.player">
          <a [routerLink]="['/player/registration']">Registration</a>
        </li>
        <li *ngIf="!!authService.player">
            <a [routerLink]="['/player/profile/' + authService.player.id]"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              {{ authService.player.name }}
            </a>
          </li>
        <li *ngIf="!authService.player">
          <a [routerLink]="['/player/login']">Login</a>
        </li>
        <li *ngIf="!!authService.player">
          <a [routerLink]="['/top-scores']" (click)="authService.logout()">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>