<ng-container *ngIf="loading">
  <h1>Loading...</h1>
</ng-container>

<ng-container *ngIf="!loading">
  <img *ngIf="!isBeingEdited" class="pull-right" src="{{ player.profile.picture.getUrl() }}">

  <h1 class="clearfix">
    <ng-container *ngIf="isAuthenticatedPlayer()">Welcome, {{ player.name }}</ng-container>
    <ng-container *ngIf="!isAuthenticatedPlayer()">{{ player.name }}</ng-container>
  </h1>

  <div 
    *ngIf="player.profile && !isBeingEdited" 
    class="introduction" 
    [innerHTML]="player.profile.introduction | trustHtml"
  ></div>
  <form *ngIf="isBeingEdited" class="form-group">
    <app-tiny-editor
      ngDefaultControl
      [id]="'introduction'"
      [name]="'introduction'"
      [(ngModel)]="profile.introduction"
    ></app-tiny-editor>
    <span *ngIf="isUploading" class="pull-right">Loading...</span>
    <input type="file" ng2FileSelect [uploader]="uploader" [disabled]="isUploading">
    <button class="btn btn-primary" (click)="saveProfile()" [disabled]="isUploading">
      Save
    </button>
    <button class="btn btn-primary" (click)="discardIntroductionChange()">
      Discard
    </button>
  </form>
  <button 
    class="btn btn-primary" *ngIf="player.profile && isAuthenticatedPlayer() && !isBeingEdited"
    (click)="toggleEdit()"
    >
    Edit Profile
  </button>

  <ng-template #errorTemplate let-formControlName="formControlName">
    <ng-container *ngIf="errors[formControlName]">
      <div *ngFor="let error of errors[formControlName]" class="alert alert-danger">
        {{ error }}
      </div>
    </ng-container>
  </ng-template>

  <ng-container *ngIf="isAuthenticatedPlayer() && player.has_deletable_rounds">
    <p>
      Your account already has saved scores in our database.
      <br> Would you like to keep them?
    </p>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" type="password" class="form-control" [(ngModel)]="player.password">
        <div *ngIf="!form.controls.password.valid && !form.controls.password.pristine" class="alert alert-danger">
          Password is required and should be at least 6 characters long!
        </div>
        <ng-container *ngTemplateOutlet="errorTemplate;context:{formControlName: 'password'}"></ng-container>
      </div>
      <button name="old-scores-action" (click)="handleOldScores('delete')">Delete</button>
      <button name="old-scores-action" (click)="handleOldScores('keep')">Keep</button>
    </form>
  </ng-container>

  <ng-container *ngIf="message">
    <div class="alert alert-info">
      {{ message }}
    </div>
  </ng-container>

</ng-container>
