<ng-template #errorTemplate let-formControlName="formControlName">
  <ng-container *ngIf="errors[formControlName]">
    <div *ngFor="let error of errors[formControlName]" class="alert alert-danger">
      {{ error }}
    </div>
  </ng-container>
</ng-template>

<form *ngIf="!isSuccessful" [formGroup]="form" (ngSubmit)="changePassword()">
  <div class="form-group">
    <label for="currentPassword">Current password</label>
    <input formControlName="currentPassword" type="password" class="form-control" [(ngModel)]="currentPassword">
    <div *ngIf="!form.controls.currentPassword.valid && !form.controls.currentPassword.pristine" class="alert alert-danger">
      Password is required and should be at least 6 characters long!
    </div>
    <ng-container *ngTemplateOutlet="errorTemplate;context:{formControlName: 'currentPassword'}"></ng-container>
  </div>
  <div class="form-group">
    <label for="password">New password</label>
    <input formControlName="password" type="password" class="form-control" [(ngModel)]="player.password">
    <div *ngIf="!form.controls.password.valid && !form.controls.password.pristine" class="alert alert-danger">
      Password is required and should be at least 6 characters long!
    </div>
    <ng-container *ngTemplateOutlet="errorTemplate;context:{formControlName: 'password'}"></ng-container>
  </div>
  <div class="form-group">
    <label for="password">New password (confirm)</label>
    <input formControlName="passwordConfirm" type="password" class="form-control">
    <div *ngIf="!form.controls.passwordConfirm.valid && !form.controls.passwordConfirm.pristine" class="alert alert-danger">
      Password is required and should be at least 6 characters long!
    </div>
    <ng-container *ngTemplateOutlet="errorTemplate;context:{formControlName: 'passwordConfirm'}"></ng-container>
  </div>
  <div *ngIf="!form.valid && !form.pristine" class="alert alert-warning">
    All fields should be filled and passwords should be matching values!
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Change password</button>
  <a class="btn btn-default" [routerLink]="['/player/profile/' + player.id]">Cancel</a>
</form>

<ng-container *ngIf="message">
  <div class="alert alert-info">
    {{ message }}
  </div>
  <a class="btn btn-default" [routerLink]="['/player/profile/' + player.id]">Back</a>
</ng-container>