<h3>Create Squad</h3>

<ng-template #errorTemplate let-formControlName="formControlName">
  <ng-container *ngIf="errors[formControlName]">
    <div *ngFor="let error of errors[formControlName]" class="alert alert-danger">
      {{ error }}
    </div>
  </ng-container>
</ng-template>

<form *ngIf="!isCreated" [formGroup]="form" (ngSubmit)="create()">
  <div class="form-group">
    <label for="name">Squad Name</label>
    <input formControlName="name" type="text" class="form-control" [(ngModel)]="squad.name">
    <div *ngIf="!form.controls.name.valid && !form.controls.name.pristine " class="alert alert-danger">
      Valid name is required!
    </div>
    <ng-container *ngTemplateOutlet="errorTemplate;context:{formControlName: 'name'}"></ng-container>
  </div>
  <div class="form-group">
    <label for="color">Color</label>
    <input name="color" [(colorPicker)]="squad.color" [style.background]="squad.color"/>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Create</button>
  <a [routerLink]="'../list'" class="btn btn-primary">Back</a>
</form>

<ng-container *ngIf="isCreated">
  <div class="alert alert-success">
    Squad successfully created.
  </div>
  <a [routerLink]="'../list'" class="btn btn-primary">Back</a>
</ng-container>