<ng-container *ngIf="loading">
  <h1>Loading...</h1>
</ng-container>

<app-not-found *ngIf="!loading && !player"></app-not-found>

<ng-container *ngIf="!loading && player">
  <img *ngIf="player.profile.picture" class="pull-right" src="{{ player.profile.picture.getUrl() }}">

  <h1 class="clearfix">
    <ng-container *ngIf="isAuthenticatedPlayer()">Welcome, {{ player.name }}</ng-container>
    <ng-container *ngIf="!isAuthenticatedPlayer()">{{ player.name }}</ng-container>
  </h1>

  <div 
    *ngIf="player.profile" 
    class="introduction" 
    [innerHTML]="player.profile.introduction | trustHtml"
  ></div>

  <a 
    class="btn btn-primary" *ngIf="isAuthenticatedPlayer()"
    [routerLink]="['edit']"
  >
    Edit Profile
  </a>

  <a 
    class="btn btn-primary" *ngIf="isAuthenticatedPlayer()"
    [routerLink]="['/player/password-change']"
  >
    Change Password
  </a>

  <a 
    class="btn btn-primary" *ngIf="isAuthenticatedPlayer()"
    [routerLink]="['/player/delete']"
  >
    Delete Account
  </a>

  <app-old-scores-handler
    *ngIf="isAuthenticatedPlayer()"
    [player]="player"
  ></app-old-scores-handler>

</ng-container>
